.services{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap :20px;
}
.service{
    flex:1;
    flex-basis: 31%;
    border-radius: 12px;
    position:relative;
}
.service img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    
}